@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
    @apply overflow-hidden;
    @apply rounded-3xl;
    @apply flex;
    @apply justify-center;
    @apply mt-0;
    height: 75vh;
    background: linear-gradient(90deg, #9A9A9A 0%, #E5E5E5 50%);
}

.banner__content{
    @apply pt-9;
    display: grid;
    align-items: center;
    position: relative;
}

.banner__content__info {
    display: grid;
    align-content: space-between;
    justify-content: center;
}

.banner__content__title {
    @apply font-extrabold;
    @apply text-white;
    font-size: 3rem;
    line-height: 3rem;
}
.banner__content__subtitle {
    @apply font-extrabold;
    @apply text-black;
    font-size: 2rem;
    line-height: 2rem;
}

.banner__content__brand {
    @apply font-extrabold;
    @apply text-black;
    font-size: 1rem;
}

.button-container {
    @apply text-center lg:text-left;
    @apply mt-7 md:mt-6;
}

.banner__content__image {
    width: 20rem;
    transform: translate(-50%, -50%);
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}


@media (min-width: 768px) {
    .banner {
        @apply items-center;
        @apply mx-0;
        height: 40vh;
    }
    .banner__content{
        @apply pt-0;
    }

    .banner__content__title {
        font-size: 6rem;
        line-height: 5rem;
    }
    .banner__content__subtitle {
        font-size: 5rem;
        line-height: 6rem;
    }

    .banner__content__brand {
        font-size: 2rem;
    }

    .banner__content__image {
        width: 20rem;
        position: absolute;
        left: 22rem;
        top: 0;
        transform: translate(-50%, -50%);
        animation: float 4s ease-in-out infinite;
    }
}

@media (min-width: 1024px) {
    .banner {
        @apply mb-6;
        @apply mt-0;
        height: 60vh;
    }

    .banner__content__title {
        font-size: 8rem;
        line-height: 10rem;
    }

    .banner__content__subtitle {
        font-size: 5rem;
        line-height: 5rem;
    }

    .banner__content__brand {
        font-size: 2rem;
    }

    .banner__content__image {
        width: 30rem;
        position: absolute;
        left: 23rem;
        top: -5rem;
    }

}

@media (min-width: 1280px) {
    .banner {
        height: 90vh;
    }

    .banner__content__title {
        font-size: 10em;
        line-height: 12rem;
    }
    .banner__content__image {
        width: 40rem;
        position: absolute;
        left: 27rem;
        top: -8rem;
    }
}

@media (min-width: 1536px) {
    .banner {
        height: 90vh;
    }
    .banner__content__title {
        font-size: 12em;
        line-height: 14rem;
    }
    .banner__content__subtitle {
        font-size: 6rem;
        line-height: 6rem;
    }
    .banner__content__brand {
        font-size: 3rem;
    }
    .banner__content__image {
        width: 50rem;
        position: absolute;
        left: 30rem;
        top: -9rem;
    }
}
