@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    @apply flex-shrink-0;
    @apply my-2;
    @apply relative;
    @apply overflow-hidden;
    @apply bg-purple-700;
    @apply rounded-3xl;
    @apply shadow-lg;
    @apply border-2;
    @apply p-10;
    min-height: 22rem;
}

.card__header {
    @apply flex;
    @apply items-center;
    @apply justify-center;
    height: 200px;
    @apply items-center;
    padding: 25px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 0 100px -25px rgb(33 32 32 / 83%);
    flex: 1;
}

.button{
    @apply p-4;
    @apply flex;
    @apply justify-between;
}

.card__header__image {
    @apply relative;
    height: 180px;
    width: auto;
}

.card__content {
    @apply relative;
    @apply text-white;
    @apply px-6;
    @apply pb-6 mt-6;
    flex: 1;
}

.card__content_category {
    @apply block;
    @apply font-semibold;
    @apply text-xl;
    @apply opacity-75;
    @apply -mb-1;
}

.card__content_info {
    @apply justify-between;
    @apply flex;
    @apply flex-col;
}

.card__content_info_title {
    @apply block;
    @apply font-semibold;
    @apply text-xl;
    @apply my-3;
}

.card__content_info_price {
    @apply block;
    @apply bg-white;
    @apply rounded-full;
    @apply text-orange-500;
    @apply text-xs;
    @apply font-bold;
    @apply px-3;
    @apply py-2;
    @apply leading-none;
    @apply flex;
    @apply items-center;
}


.bg_gradient_graphite {
    @apply bg-gradient-to-r from-zinc-900 to-zinc-700
}

.bg_gradient_honey {
    @apply bg-gradient-to-r from-amber-500 to-amber-300
}

.bg_gradient_strawberry {
    @apply bg-gradient-to-r from-red-600 to-red-400
}

.bg_gradient_shark {
    @apply bg-gradient-to-r from-neutral-400 to-neutral-200
}

.bg_gradient_lime {
    @apply bg-gradient-to-r from-green-500 to-green-300
}

.bg_gradient_sky {
    @apply bg-gradient-to-r from-blue-600 to-blue-400
}


@media (min-width: 1024px) {
    .card {
        min-height: 25rem;
    }

    .card__content_info_description {
        display: block;
    }

    .card__header {
        height: 250px;
    }
}


@media (min-width: 1200px) {
    .card__header {
        height: 250px;
    }

    .card__header__image {
        @apply relative;
        width: auto;
    }
}