.promotion-banner {
    @apply rounded-3xl;
    @apply p-4;
    justify-content: space-between;
    margin-top: 9rem;
}

.promotion-banner__title {
    @apply text-white;
    @apply font-extrabold;
    @apply text-3xl;
    @apply my-4;
    flex: 1;
}

.promotion-banner__description {
    @apply text-white;
    @apply mt-6;
    flex: 1;
}

.description__title {
    @apply font-extrabold;
    @apply text-4xl;
}

.description__subtitle {
    @apply font-extrabold;
    @apply text-2xl;
}

.promotion-banner__image {
    position: absolute;
    transform: translate(35%, -250%);
    left: 1rem;
    top: 6rem;
    width: 15rem;
}

@media (min-width: 768px) {
    .promotion-banner__title {
        @apply text-3xl;
    }
    .promotion-banner__description {
        @apply mt-9;
    }
    .promotion-banner__image {
        width: 18rem;
        left: 13rem;
        top: 18rem;
    }
}
@media (min-width: 1024px) {
    .promotion-banner {
        @apply flex;
        @apply mb-16;
        justify-content: space-between;
    }
    .promotion-banner__title {
        @apply text-4xl;
    }
    .promotion-banner__description {
        @apply mt-0;
        flex: 1.2;
    }
    .promotion-banner__image {
        transform: translate(-50%, -50%);
        position: relative;
        left: 17rem;
        top: 3rem;
        width: 15rem;
    }
}

@media (min-width: 1280px) {
    .promotion-banner {
        margin-top: 12rem;
        padding: 4rem;
    }
    .promotion-banner__title {
        @apply text-5xl;
    }

    .promotion-banner__image {
        width: 20rem;
        left: 20rem;
        top: 0;
    }
}

@media (min-width: 1400px) {
    .promotion-banner__image {
        width: 20rem;
        left: 22rem;
        top: 0;
    }
}

@media (min-width: 1536px) {
    .promotion-banner__title {
        @apply text-6xl;
    }
    .promotion-banner__image {
        width: 22rem;
        left: 26rem;
    }
}


@media (min-width: 1700px) {
    .promotion-banner__image {
        width: 25rem;
        left: 29rem;
    }
}
