nav{
    @apply fixed;
    @apply bg-white;
    @apply px-4;
    @apply z-50;
}

.login{
    @apply block;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.cart-counter {
    @apply text-white;
    @apply bg-red-500;
    @apply relative;
    @apply rounded-full;
    @apply p-1;
    @apply text-xs;
    top: -18px;
    left: -1rem;
}

@media (min-width: 768px) {
    .login{
        @apply hidden;
    }
}
@media (min-width: 1024px) {

}
@media (min-width: 1280px) {

}
@media (min-width: 1536px) {


}
