.products-title-container {
    @apply mb-5;
    @apply mt-12;
    @apply text-gray-400;
    @apply text-center;
}

.products__title{
    @apply flex;
    @apply justify-center;
    @apply text-black;
    @apply font-extrabold;
    @apply text-4xl;
    @apply mt-4;
}


.row-left .item, .row-right .item {
    @apply lg:w-1/4;
}

.row-left .item:first-child {
    @apply lg:w-1/2;
}

.row-right  .item:last-child {
    @apply lg:w-1/2;
}

/*Cards lg*/

.row-left .item:first-child .card {
    display: block;
}

.row-right  .item:last-child .card {
    display: block;
}

.row-left .item:first-child .card .card__header{
    height: 50%;
}

.row-right  .item:last-child .card .card__header{
    height: 50%;
}

.row-left .item:first-child .card .card__header__image{
    height: 100%;
}

.row-right  .item:last-child .card .card__header__image{
    height: 100%;
}

.row-left  .item .card .card__content_info_description {
    display: none;
}


.row-right  .item .card .card__content_info_description {
    display: none;
}

.row-left  .item:first-child .card .card__content_info_description {
    display: none;
}

.row-right  .item:last-child .card .card__content_info_description {
    display: none;
}


@media (min-width: 768px) {
    .row-left .item:first-child .card {
        display: flex;
        align-items: center;
    }

    .row-right  .item:last-child .card {
        display: flex;
        align-items: center;
    }
}
@media (min-width: 1024px) {
    .iterated-container {
        @apply w-full flex md:gap-2 md:grid-cols-3;
    }

    .row-left .item:first-child .card .card__header{
        height: 100%;
        margin-right: 1rem;
    }

    .row-right  .item:last-child .card .card__header{
        height: 100%;
        margin-right: 1rem;
    }

    .row-left .item:first-child .card .card__content{
        padding-bottom: 0;
    }

    .row-right  .item:last-child .card .card__content{
        padding-bottom: 0;
    }

    .row-left .item:first-child .card .card__header__image{
        height: 80%;
    }

    .row-right  .item:last-child .card .card__header__image{
        height: 80%;
    }

    .row-left  .item:first-child .card .card__content_info_description {
        display: none;
    }

    .row-right  .item:last-child .card .card__content_info_description {
        display: none;
    }
}
@media (min-width: 1280px) {

}
@media (min-width: 1536px) {


}
