.bestseller__content {
    @apply overflow-x-auto;
    @apply my-4;
}

.bestseller__banner {
    @apply mb-5;
    @apply mt-12;
    @apply text-gray-400;
    @apply text-center;
}

.bestseller__title{
    @apply flex;
    @apply justify-center;
    @apply text-black;
    @apply font-extrabold;
    @apply text-4xl;
    @apply mt-4;
}

.card-container {
    @apply w-full md:gap-2 md:grid-cols-3;
    display: flex;
}

.bestseller__content .card {
    width: 20rem;
    margin-right: 1rem;
    padding: 1.5rem;
    min-height: 22rem;
}

.bestseller__content .card .card__header {
    height: 155px;
}

.bestseller__content .card .card__content {
    height: 8rem;
    @apply px-0;
}

.bestseller__content .card .card__header .card__header__image {
    height: 130px;
}

.bestseller__content .card__content_info_title {
    @apply truncate;
}

.bestseller__content .button {
    width: 100%;
    justify-content: space-between;
    padding: 1rem 0;
    margin-bottom: 0;
}

@media (min-width: 768px) {}
@media (min-width: 1024px) { }
@media (min-width: 1280px) {
    .bestseller__content .card {
        width: 22rem;
    }
}
@media (min-width: 1536px) {}