@import "pages/Home/components/Banner/Banner.css";
@import "pages/Home/components/Products/Products.css";
@import "pages/Home/components/ServicesBanner/ServicesBanner.css";
@import "pages/Home/components/PromotionBanner/PromotionBanner.css";
@import "components/Card/Card.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  @apply bg-white;
}
